<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facelink</title>

</head>
<body>
<div class="container">
    <h1>Facelink medie</h1>
    <a href="/new">Add New User</a>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <div class="person-info">
                    <%= user.name %> | <%= user.email %>
                </div>
                <div class="actions">
                    <form action="/user/<%= user._id %>/delete" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                    <form action="/user/<%= user._id %>/update" method="GET">
                        <button type="submit" class="update">Update</button>
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>
</div>
</body>
