<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
<h1>Add New User</h1>
<form action="/person" method="POST">
    <label>Name: <input type="text" name="name"></label><br>
    <label>Email: <input type="text" name="email"></label><br>
    <label>Posts: <input type="text" name="posts"></label><br>
    <button type="submit">Add User</button>
</form>
<a href="/">Back to list</a>
</body>
</html>
